/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
  background-color: #2f3136;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 10px;
}

/* Card */
.card {
  display: flex;
  flex-direction: row;
  background-color: #202225;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  max-width: 900px;
  padding: 30px;
  gap: 30px;
}

/* Imagem */
.card-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

/* Conteúdo */
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.card-description {
  font-size: 1.1rem;
  color: #b9bbbe;
  margin-bottom: 20px;
}

/* Botão Customizado */
.custom-btn {
  display: inline-block;
  background-color: #5865f2;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 12px;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 150px;
}

.custom-btn:hover {
  background-color: #4752c4;
}

/* Responsividade */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .card-img img {
    width: 275px; /* Imagem maior */
    height: 275px;
  }

  .card-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .card-description {
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center; /* Centraliza a descrição */
  }

  .custom-btn {
    width: 250px;
    padding: 12px 0;
    margin: 0 auto; /* Centraliza o botão */
  }
}
